<nav>
    <button (click)="sortList()">Data</button>    
</nav>
<table>
    <tr *ngFor="let a of apostas">
        <td class="mandante">
            {{a.mandante.toUpperCase()}}
        </td>
        <td class="visitante">
            {{a.visitante.toUpperCase()}}
        </td>
        <td class="data">
            {{a.data.toUpperCase()}}
        </td>
    </tr>
</table>

<div id="prize">
    PRÊMIO ESTIMADO:
    <h3 name="prize">R$ {{prize}}</h3>
    <h3 name="accumulated">{{accumulated}}</h3>
</div>